@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Righteous');

body {
  font-size: 80px;
  background: #eee;
font-family: 'Righteous', cursive;
  margin: 10%;
}

button {
  border-radius: 20px;
}

.main {
    background: #ffffff;
    box-shadow: 0 0 7px 2px #ddd;
    border-radius: 10px;

}

.settings {background: #fff; padding: 20px; border-radius: 0 0 10px 10px; border-top:solid 1px #ddd;}

